body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:mediumblue;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    text-decoration: underline;
}


.container-fluid {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}


p {
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
}


.bg-image {
    background-image: url('fback.png'); 
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 40px; 
    width: 40px; 
    margin-right: 10px; 
}